<div class="flex flex-wrap my-4 lg:px-4">
  <div class="w-full mb-4 lg:w-1/4 lg:p-4">
    <%= render partial: "account_navbar" %>
  </div>

  <div class="w-full lg:w-3/4 lg:p-4">
    <div class="p-4 bg-white border border-gray-200 dark:bg-gray-900 dark:border-gray-700 rounded-lg lg:p-10">
      <div class="flex items-center">
        <%= account_avatar @account, class: "flex-shrink-0 rounded-full mr-4 h-10 w-10" %>
        <h1 class="h3">
          <%= link_to @account.name, @account %>

          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="inline-block w-5 h-5 text-gray-600">
            <path fill-rule="evenodd" d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
          </svg>

          <%= t("account_invitations.invite_user") %>
        </h1>
      </div>

      <p class="my-4 text-gray-700 dark:text-gray-200"><%= t(".description") %></p>

      <%= form_with(model: [@account, @account_invitation]) do |form| %>
        <%= render "error_messages", resource: form.object %>

        <div class="form-group">
          <%= form.label :name %>
          <%= form.text_field :name, class: "form-control", required: true, placeholder: true %>
        </div>

        <div class="form-group">
          <%= form.label :email %>
          <%= form.email_field :email, class: "form-control", required: true, placeholder: true %>
        </div>

        <h5 class="mb-2"><%= t("accounts.roles") %></h5>
        <div class="form-group">
          <% AccountUser::ROLES.each do |role| %>
            <div>
              <%= form.check_box role, id: role.to_s.parameterize, class: "form-checkbox mr-1" %>
              <label for="<%= role.to_s.parameterize %>" class="inline-block"><%= role.to_s.humanize %></label>
            </div>
          <% end %>
        </div>

        <div class="sm:flex justify-between">
          <div class="form-group">
            <%= form.button t(".update"), class: "btn btn-primary" %>
            <%= link_to t(".back"), @account, class: "btn btn-link" %>
          </div>
          <div class="form-group">
            <%= link_to t(".destroy"), account_account_invitation_path(@account, @account_invitation), data: { turbo_method: :delete, turbo_confirm: t("are_you_sure") }, class: "btn btn-link text-red-500" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
