<% content_for :section_title, "Accounts & Teams" %>

<p class="text-xl">Accounts are a core piece of functionality for many applications these days and Jumpstart comes preconfigured with them so you don't have to do any of the heavy lifting.</p>

<%= h2_with_anchor "Personal Account" %>
<p>Every user has a personal account that's only usable by themselves, so you can easily associate resources to accounts and still have private resources to a user.</p>
<p>Make sure to add <code>account:references</code> when generating your models.</p>
<p>If you'd like a resource to be shared across a Account, you can scope your controllers to the current account so the resources are shared between users in the associated account.</p>

<p>Every user has a personal account they are an admin of. A personal account does not allow other users on it. This allows our code to work exactly the same whether we're adding resources privately for a user or a account of users.</p>
<p>GitHub is a great example of this case. Repositories can be personal or on an organization (their name for accounts) and by setting them up this way, we can have our code treat them exactly the same.</p>
<p>There is a configuration option that can be found at <%= link_to "http://localhost:3000/jumpstart#accounts", accounts_docs_path %> if you have the server running. In the first section labeled Accounts, there is a checkbox for enabling/disabling personal accounts. If checked, every new user that signs up for your application will be given a personal account by default. This happens via an <code>after_create</code> callback that comes from the <code>UserAccounts</code> concern which is included in the <code>User.rb</code> class:</p>
<div class="not-prose">
  <pre><code># app/models/concerns/user_accounts.rb
after_create :create_default_account, unless: :skip_default_account?</code></pre>
</div>

<p>After a new user record has been successfully created, this callback will be called and a personal account will be created for the new user unless you have disabled this feature in the Jumpstart configuration for your application via the checkbox mentioned previously at <%= link_to "http://localhost:3000/jumpstart#accounts", accounts_docs_path %></p>
<p>With this in place, when an existing user creates a new account it will use the default setting of <code>personal: false</code>, which is setup in the migration for the <code>accounts</code> table:</p>
<div class="not-prose">
  <pre><code>t.boolean "personal", default: false</code></pre>
</div>

<%= h3_with_anchor "Additional Accounts" %>
<p>Users can create additional accounts and invite other users to join them. Once created, users can switch which account they're viewing from their account dropdown in the navbar.</p>
<p>Each account has separate billing, which allows you to setup flexible subscriptions based upon the account. This is also similar to GitHub where you can pay for a personal account or you can pay for an organization account.</p>
<p>If you don't want to use the accounts functionality, you can simply remove links to the accounts. We encourage you to keep the accounts functionality around  as it allows you flexibility in the future should you choose to implement accounts later on.</p>

<%= h3_with_anchor "Account Switching" %>
<p>A user can switch which account they are viewing by clicking on the accounts in the navbar.</p>
<p>There are several different ways users can switch between accounts:</p>

<ul>
  <li>Session cookies <span class="text-sm text-gray-700">(default)</span></li>
  <li>Path <code class="text-sm">/:account_id/</code></li>
  <li>Subdomain</li>
  <li>Custom Domain</li>
</ul>

<p>Each of these options provides some flexibility for how accounts can be accessed:</p>
<p><em>Session cookies</em> are the simplest and require no additional configuration.</p>
<p><em>Path</em> switching prepends all routes with the current account ID. This is called the <code>script_name</code> and is filtered out in a Rails middleware automatically. To change accounts, you must provide the script name in the URL helpers: <code>link_to "Home", root_url(script_name: "/#{account.id}"</code></p>
<p><em>Subdomain</em> switching uses the first subdomain to determine the account. This requires wildcard DNS records to point <code>*.example.com</code> to your app and additional setup in your test suite to configure the host when making requests.</p>
<p><em>Custom Domain</em> allows your users to provide their own domain to use your app. This requires customers to setup DNS records to point to your server. You'll also have to respond to these and make sure you generate SSL certificates for these domains. Since you cannot guarantee the user will setup their DNS records correctly, this option often is used in conjunction with subdomain switching to provide a fallback method of accessing the account.</p>
