<% content_for :section_title, "JavaScript" %>

<p class="text-xl">Jumpstart leverages <%= link_to "Stimulus.js", "https://github.com/stimulusjs/stimulus", target:"_blank", class: "link" %> for a variety of interactive components. Feel free to reach for any front-end framework you may need, just keep in mind that you'll want it to be Turbo compatible.</p>

<%= h2_with_anchor "Bundling JavaScript" %>

<p>
  Jumpstart Pro uses <%= link_to "esbuild", "https://esbuild.github.io", target: "_blank" %>, which is a JavaScript bundler and minifier written in Go, to bundle your JavaScript. It's fast, and it's easy to use.
</p>
<p>
  When developing your application, Jumpstart Pro defaults to having a configuration setup that will watch for changes in your views, JavaScript, or stylesheets and reload the page when it detects changes.
  This helps speed up your development process by not having to manually refresh the page every time you make a change or run commands to rebuild your assets.
</p>

<%= h2_with_anchor "JavaScript Packages" %>
<p>
  Jumpstart Pro comes with a few JavaScript packages pre-installed. You can find them in the dependencies section of the <code>package.json</code> file.
</p>
<p>
  One of the packages is our own <%= link_to "tailwindcss-stimulus-components", "https://github.com/excid3/tailwindcss-stimulus-components", target: "_blank" %> package which is a set of StimulusJS controllers and components for TailwindCSS apps similar to Bootstrap JS components.
  This package has components of it's own which you can find links to in the <%= link_to "Components", "https://github.com/excid3/tailwindcss-stimulus-components#components", target: "_blank" %> section of the README in the repository.
</p>
<p>
  Jumpstart Pro has some of the controllers from this package already imported in the <code>app/javascript/controllers/index.js</code> file by default:
  <div class="not-prose">
    <pre><code>import { Dropdown, Modal, Tabs, Popover, Toggle, Slideover } from  "tailwindcss-stimulus-components"</code></pre>
  </div>
  If you need to import any of the remaining controllers from this package, you can do so by adding to that line. The controllers are all listed <%= link_to "here", "https://github.com/excid3/tailwindcss-stimulus-components/tree/master/src", target: "_blank" %>.
</p>
<p>
  The StimulusJS controllers from the tailwindcss-stimulus-components package and the components from Jumpstart Pro or any of your own code can be wired up together easily, saving you time and effort. For example,
  it can be used to add show and hide functionality to the Jumpstart Pro <%= link_to "alert", alerts_docs_path, target: "_blank" %> components.
</p>

<%= h3_with_anchor "Adding Additional JavaScript Packages" %>
<p>
  Adding new JavaScript packages to your application is easy. You can use the <code>yarn add</code> command to add new packages to your application. For example, if you wanted to add the SortableJS package to your application, you could run the following command:
</p>
<div class="not-prose">
  <pre><code>yarn add sortablejs</code></pre>
</div>
<p>
  Once you have run the above, you can then import the package in your JavaScript file with: 
</p>
<div class="not-prose">
  <pre><code>import Sortable from 'sortablejs'</code></pre>
</div>