<% content_for :section_title, "Welcome To Jumpstart Pro Rails" %>

<div class="max-w-4xl text-gray-700 dark:text-gray-200">
  <div class="mb-10">
    <p class="leading-normal text-xl mb-4">We're excited to see what you build with Jumpstart Pro and Ruby on Rails. This documentation is everything you need to know to start building products with Jumpstart Pro.</p>
  </div>

  <div class="mb-10">
    <h3 class="text-gray-800 dark:text-gray-300 mb-4">How to get started with Jumpstart Pro Rails</h3>
    <p class="leading-normal mb-4">First of all, thanks for using Jumpstart Pro! We want to make Jumpstart Pro the easiest way for you to launch a business with Ruby on Rails.</p>
    <p class="leading-normal mb-4">Below are some quick links to the documentation for some of the core features and functionality of Jumpstart Pro.</p>

    <div class="bg-white py-12 sm:py-16">
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="-mx-6 grid grid-cols-2 gap-0.5 overflow-hidden sm:mx-0 sm:rounded-2xl md:grid-cols-3">
          <%= link_to accounts_docs_path, class: "no-underline" do %>
            <div class="h-full flex flex-col justify-center items-center bg-gray-50 hover:bg-gray-100 p-8 sm:p-10">
              <p class="w-full text-center mb-4">Accounts & Teams</p>
              <p class="w-full text-center text-xs m-0">Learn about Jumpstart Pro's Accounts feature which enables user-specific or multi-user resource scoping</p>
            </div>
          <% end %>

          <%= link_to billing_docs_path, class: "no-underline" do %>
            <div class="h-full flex flex-col justify-center items-center bg-gray-50 hover:bg-gray-100 p-8 sm:p-10">
              <p class="w-full text-center mb-4">Billing</p>
              <p class="w-full text-center text-xs m-0">Explore Jumpstart Pro's flexible billing options, supporting multiple payment processors, subscriptions, and one-time payments.</p>
            </div>
          <% end %>

          <%= link_to javascript_docs_path, class: "no-underline" do %>
            <div class="h-full flex flex-col justify-center items-center bg-gray-50 hover:bg-gray-100 p-8 sm:p-10">
              <p class="w-full text-center mb-4">JavaScript</p>
              <p class="w-full text-center text-xs m-0">Dive into Jumpstart Pro's JavaScript handling, featuring Stimulus.js, esbuild for efficient bundling, and automatic page reloads for a streamlined development process.</p>
            </div>
          <% end %>

          <%= link_to roles_docs_path, class: "no-underline" do %>
            <div class="h-full flex flex-col justify-center items-center bg-gray-50 hover:bg-gray-100 p-8 sm:p-10">
              <p class="w-full text-center">Roles</p>
              <p class="w-full text-center text-xs m-0">Discover Jumpstart Pro's Account Roles, allowing role assignment per account with customizable roles, facilitating access control to account functionalities.</p>
            </div>
          <% end %>

          <%= link_to subscriptions_docs_path, class: "no-underline" do %>
            <div class="h-full flex flex-col justify-center items-center bg-gray-50 hover:bg-gray-100 p-8 sm:p-10">
              <p class="w-full text-center">Subscriptions</p>
              <p class="w-full text-center text-xs m-0">Understand Jumpstart Pro's subscription model, billing against Accounts not Users, enabling shared resources and billing management, for future-proof flexibility.</p>
            </div>
          <% end %>

          <%= link_to tailwind_docs_path, class: "no-underline" do %>
            <div class="h-full flex flex-col justify-center bg-gray-50 hover:bg-gray-100 p-8 sm:p-10">
              <p class="w-full text-center">Tailwind CSS</p>
              <p class="w-full text-center text-xs m-0">Adapt Jumpstart Pro's UI components and Tailwind CSS configuration as a starting point for your template, with automatic style purging and monitoring for CSS classes in Rails helpers, views, and JavaScript files.</p>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <p class="leading-normal mb-4">If you'd like to learn about Jumpstart Pro by watching videos, check out the <%= link_to "Screencasts", screencasts_docs_path %> section.</p>
    <p class="leading-normal mb-4">If you have an idea for a feature or found a bug, please let us know on the <%= link_to "GitHub repository.", "https://github.com/jumpstart-pro/jumpstart-pro", target: :_blank %></p>
  </div>

  <div class="mb-10">
    <h3 class="text-gray-800 dark:text-gray-300 mb-4">Next</h3>
    <p class="leading-normal mb-4"><%= link_to "Install Jumpstart Pro", installation_docs_path %></p>
  </div>
</div>
