<!DOCTYPE html>
<html class="h-full antialiased" lang="<%= I18n.locale %>">
  <head>
    <title>
      <% if content_for?(:title) %>
        <%= yield :title %> |
      <% end %>
      <%= Jumpstart.config.application_name %>
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%# Be sure to add your own custom favicons %>
    <%= render "favicons" %>
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <%= yield :head %>
  </head>
  <body class="antialiased font-sans bg-gray-100 dark:bg-gray-900 dark:text-gray-50">
    <div class="main flex flex-col">
      <%= yield %>
    </div>
    <%= render "footer", dark_mode_toggle: true unless turbo_native_app? %>
  </body>
</html>
